:root{
    --pink: #B96D69;
    --orange: #E09F3E;
    --blue: #335C67;
    --black: rgba(30, 30, 30, 0.93);
    --white: #FDFAFA;

    --logo-font: 'Vina Sans', monospace;
    --heading-font: 'Rajdhani', monospace;
    --main-font: 'Poppins', sans-serif;
}

/* Light Mode Design */
body{
    background-color: var(--white);
    width: 1280px;
    margin: 0 auto;
    line-height: 1.5;
    border-radius: 30px;
    padding-bottom: 20px;
}

/* Dark Mode Design */
body.darkmode{
    background-color: var(--black);
}

/* Font and Text Styles */
h1{
    font-size: 64px;
    padding-top: 50px;
    margin: 30px;
    padding-right: 0.9rem;
}

h1 a{
    text-decoration: none;
    color: var(--black);
    font-family: var(--logo-font);
    font-weight: 600;
}

h1 a:hover{
    color: var(--orange);
}

h1 i{
    border: 3px dotted var(--black);
    border-radius: 8px;
    color: var(--white);
    background-color: #E09F3E;
}

h1 span{
    text-decoration: line-through;
}

h2, h3{
    font-family: var(--heading-font);
    font-weight: 600;
}

p, button, form, nav a{
    font-family: var(--main-font);
}

header h2, #categories h2, #collections h2:first-child, #curators h2{
    text-align: center;
}

.center, #categories{
    text-align: center;
}

/* Dark Theme Button */
.toggle{
    background-color: var(--black);
    color: var(--white);
    border-radius: 50px;
    cursor: pointer;
    width: 60px;
    height: 60px;
    align-items: center;
    display: flex;
    padding: 8px;
    border: 2px dashed var(--white);
}

.toggle:hover{
    background-color: var(--white);
    color: var(--black);
    border: 2px dashed var(--black);
}

.toggle{
    /* margin-left: 8px; */
    font-family: var(--main-font);
    line-height: 1.5;
}

#toggleMode{
    background: none;
    border: none;
}

/* Button and Link Styles */
nav a{
    color: var(--black);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
}

nav a:hover{
    color: var(--orange);
    border-bottom: 2px solid var(--orange);
    padding-bottom: 2px;
}

/* #explore-button{
    background-color: var(--black);
    color: var(--white);
    text-decoration: none;
    padding: 16px;
    align-items: center;
    cursor: pointer;
    font-size: 18px; 
    border-radius: 15px;
    text-align: center;
    margin: 0;
    justify-content: center;
    display: flex;
    border: 2px solid var(--white);
    width: 100px;
    font-weight: 200;
    margin: 0 auto;
}

#explore-button:hover{
    border: 2px solid var(--black);
    background-color: var(--white);
    color: var(--black);
} */

#categories a {
    background-color: var(--white);
    text-decoration: none;
    color: var(--black);
    cursor: pointer;
    padding: 16px;
    font-size: 24px;
    border-radius: 10px;
    border: 3px solid var(--black);
    font-weight: 300;
}

#categories a:hover{
    background-color: var(--orange);
    border: 2px solid var(--white);
    color: var(--white);
}

#categories h2{
    margin-top: 30px;
}

.shop{
    color: var(--black);
    font-weight: 300;
    text-decoration: none;
    border-bottom: 1px solid var(--black);
    padding-bottom: 3px;
}

.curator-name {
    list-style: none;
    font-size: 24px;
    font-weight: 200;
}

.curator-link{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding-left: 100px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-top: 50px;
}

.curator-link button{
    text-decoration: none;
    color: var(--black);
    font-weight: 200;
    padding-top: 6px;
    padding-bottom: 6px;
    cursor: pointer;
    background-color: var(--white);
    border: none;
    font-size: 1.25rem;
}

.curator-link button:active, .curator-link button:hover{
    border-top: 2px solid var(--orange);
    border-bottom: 2px solid var(--orange);
    font-style: italic;
}

.submit{
    background-color: var(--orange);
    color: var(--white);
    border-radius: 15px;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
    width: 200px;
    border: 2px solid var(--white);
}

.submit:hover{
    background-color: var(--white);
    color: var(--orange);
    border: 2px solid var(--orange);
}

input, textarea, fieldset{
    border: 2px solid var(--orange);
    border-radius: 5px;
}

fieldset{
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

input[type=text]:focus{
    border: 3px solid var(--blue);
}

.gameinput{
    width: 100px;
    height: 45px;
    border-radius: 15px;
    box-sizing: border-box;
    margin: 20px;
    text-align: center;
}

input[type="number"]{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-sizing: border-box;
}

/* Styling Images */
header img{
    width: 1280px;
    max-height: 1596px;
    flex-shrink: 0;
    border-radius: 15px;
}

#collections img{
    height: 500px;
    max-width: 385px;
}

#curators img{
    max-width: 375px; 
    width: 300px;
}

#about-saatchi img{
    border-radius: 15px;
    border: 3px solid var(--black);
    opacity: 0.7;
    box-shadow: 4px 8px var(--orange);
}

#collections img, #curators img{
    border-radius: 15px;
    border: 6px solid var(--orange);
}

img:hover{
    opacity: 0.7;
}

/* Styling the header */
nav{
    display: flex;
    gap: 10rem;
    padding-bottom: 10px;
    float: right;
    margin-right: 50px;
    margin-bottom: 20px;
}

/* .header-content{ */
    /* background-image: url("Images/through-the-foliage.jpeg"); */
    /* background-position: right; */
    /* background-repeat: no-repeat; */
    /* background-color: #cd888d;  */
    /* height: 10px;
    padding-bottom: 3rem;
    padding-top: 3rem;
    /* text-align: center; */
    /* opacity: 0.7; */ 
/* } */

/* .header-content h2{
    font-size: 2rem;
    margin-bottom: 0;
}

.header-content p{
    margin-bottom: 2rem;
    margin-top: 0;
}

.header-content i{
    color: var(--black);
}

.header-content i:hover{
    color: var(--white);
} */

/* .header-content div{
    border: 5px dashed var(--white);
    padding: 2rem 2rem 2rem 0;
    border-radius: 60px;
    width: 50%;
    margin-left: 15%;
    color: var(--white);
} */

#navigation-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 220px;
    /* background-color: #cd888d; */
    border-bottom: 5px solid var(--black);
    padding-bottom: 2rem;
    border-radius: 15px 30px;
}

.darkmode{
    margin-right: 2rem;
}

/* About Saatchi */
#about-saatchi{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    margin: 40px;
}


#about-saatchi h2, #curators h2:nth-child(3){
    text-align: center;
    /* border-bottom: 2px solid black; */
    border: 2px solid var(--black);
    background-color: var(--black);
    color: var(--white);
    border-radius: 15px;
    box-shadow: 3px 5px var(--orange);
}

#about-saatchi span{
    font-style: italic;
    font-weight: 900;
    color: #E09F3E;
}

/* Styling categories */
.bg-blue{
    /* height: 55px; */
    border-radius: 10px;
    padding: 30px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 100px;
}

/* Styling Collections */
#collections h2{
    padding-top: 8px;
    padding-bottom: 8px;
}


.grid-collect{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    margin: 8px;
    padding: 8px;
}

/* Art Advisory */
#curators h2:first-child{
    padding-top: 40px;
}

.curator-list p{
    margin-right: 2rem;
    text-align: justify;
    text-indent: 10px;
}

#curator-list section{
    align-items: center;
    justify-items: end;
}

#rebecca section{
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr;
    gap: 32px;
}

#erin section{
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr;
    gap: 32px;
}

#megan section{
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr;
    gap: 32px;
}

#india section{
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr;
    gap: 32px;
}

#siting section{
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr;
    gap: 32px;
}

#aubrey section{
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr;
    gap: 32px;
}

#curators ul{
    list-style: none;
}

/* Game Section */
#game{
    color: var(--white);
    border-radius: 60px;
    margin-top: 4rem;
    padding: 2.5rem;
    margin: 0 auto;
}

#game h3{
    color: var(--white);
    text-align: center;
    margin: 0 auto;
    width: 400px;
}

#game span{
    color: var(--orange);
    font-style: oblique;
}

/* Contact Section */
footer{
    margin-bottom: 30px;
}

form{
    width: 500px;
    padding: 30px;
    margin: 0 auto;
}

#contact p, #contact h2{
    margin: 0 auto;
}

#contact h2{
    width: 350px;
    margin-bottom: 5px;
    margin-top: 50px;
}

#contact p{
    width: 360px;
    text-align: justify;
}

input[name="fullname"]{
    width: 100%;
    padding: 10px 12px;
}

input[name="email"], input[type="tel"], input[name="fullname"]{
    width: 95%;
    padding: 10px 12px;
}

textarea{
    width: 100%;
    display: block;
    height: 100px;
    padding: 2px;
}

#email, #phone, #comments, #fullname{
    margin-bottom: 15px;
}

.submit{
    margin-top: 20px;
    margin-left: 150px;
}

/* reference to javascript */
/* .hide{
    display: none;
} */

/* Form Submission */
#form-section{
    color: var(--blue);
}

#submitted.hide{
    display: none;
}

#submitted.show{
    display: block;
}

#submitted h3{
    color: var(--black);
    text-align: center;
    margin-bottom: 0;
}

#submitted p{
    padding-bottom: 20px;
}

.message{
    display: none;
    color: var(--blue);
    font-style: oblique;
    font-weight: bold;
}

.error{
    font-size: 1rem;
    display: block;
}

/* Background Images */
#game{
    border: 3px solid var(--blue);
    border-radius: 15px 30px;
    background-color: #335c67;
    background-image: url("https://www.transparenttextures.com/patterns/concrete-wall-2.png"); 
}

html{
    background-color: #e0b770;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}